input_matrices/
input_matrices/*.txt
expected_matrices/
expected_matrices/*.txt
output_matrices/
output_matrices/*.txt

input_matrix.txt
output_matrix.txt

*.exe
convolution
*.out

.vscode/
.idea/
*.swp
*.swo

__pycache__/
*.py[cod]
*$py.class